---
http_interactions:
- request:
    method: get
    uri: https://api.empireflippers.com/api/v1//listings/list?limit=1&listing_status=For%20Sale&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"219b59bb4dbde93155d8bc7287387367"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"listings":[{"id":"2e837afb-294c-48a4-9d41-2cf557240b1c","listing_number":59879,"public_title":"$313.0K
        Per Month Amazon FBA Site in the Beauty Niche","average_monthly_net_profit":41433,"average_monthly_expenses":271612,"average_monthly_gross_revenue":313045,"business_created_at":"2020-05-01","country":"US","countries":["US","BR"],"first_made_money_at":"2020-09-01","listing_price":2154464,"unpriced":false,"unlock_required_funds":null,"seller_interview_link":null,"listing_multiple":52,"uses_pbn":false,"listing_status":"For
        Sale","summary":"This listing is for an Amazon FBA business created in May
        2020 in the beauty niche. The included Amazon Seller Central account is a
        part of Amazon Brand Registry and features 17 SKUs related to hair and relaxation.
        The products have strong reviews, with the top SKU rated at 4.5 stars across
        7000+ reviews and ranked overall within the top 10 products in its category.
        The products are popular holiday gifts and see strong sales towards the end
        of the[...]
